<!doctype html>
<html ng-app="myApp">
    <head>
        <title>User Login and Sessions</title>
        <link rel="stylesheet" href="../static/css/style.css" type="text/css" />
        <link rel="stylesheet" href="../static/css/comment_style.css" type="text/css" />
    </head>
    <body>
        <div ng-controller="myController" >
            <!--<h2>User Feed</h2>-->
            
            <div id='photosContainer'>
                <p class='imageTitle'>{{user.name}} </p>
                <img class='mainPhoto' src='../static/images/profile-img.jpg' />
            </div> 
                <!--<img class='mainPhoto' ng-src='../static/images/{{photos.filename}}'/>-->
            </div>

            <div id="profile" ng-controller="myController">
                    <div id="list">
                        <ul>
                            <li> {{user.username}}</li>
                            <li> {{user.color}} </li>
                            <li> {{user.email}}</li>
                        </ul>
                    </div>
                </div>

            <!--
            <div ng-controller="photoController">


            <div id="photoComments" ng-init="addComment=false;replySubject='';replyBody=''">
                <div class="comment" ng-include="'comment_thread.html'"></div>
            </div>
            </div>
        -->

                       
       
        <div ng-controller="photoController">
            <div id="pageComments" ng-init="addComment=false; replySubject='';replyBody=''" >
                <div class='comment' >
                    <span class="commentTitle">{{commentThread.title}}</span>
                    <input type="button" ng-show="addComment==false" value="Add Comment" ng-click="addComment=true"></input>
                     <form ng-show="addComment==true">
                     <label>Subject</label>
                     <input type="text" ng-model="replySubject"></input>
                     <label>Comment</label>
                     <textarea ng-model="replyBody"></textarea>
                     <input type="button" value="Send" ng-click="addComment=false; addReply(commentThread._id,replySubject,replyBody)"></input>
                    </form>
                    <input type="button" ng-show="addComment==true" value="Cancel" ng-click="addComment=false;"></input>
        

                    <div ng-repeat="comment in commentThread.replies" ng-init="reply=false;replySubject='';replyBody=''">
                        <div class="comment" ng-include="'comment.html'"></div>
                    </div>
                </div>
            </div>
        </div>

        

        <div id="footer">

            <h4>You are logged in as <%= username %></h4>
            <a href='/logout'>Logout</a>
            <a href='/user'>Edit User</a> 
        <hr><%= msg %>
        </div>



        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
        <script src="../static/js/my_app.js"></script>
    </body>
    </html>