<!doctype html>
<html ng-app="myApp">
    <head>
        <title>User Login and Sessions</title>
        <link rel="stylesheet" href="../static/css/style.css" type="text/css" />
        <link rel="stylesheet" href="../static/css/comment_style.css" type="text/css" />
    </head>
    <body>
        <div ng-controller="myController" >
            <!--<h2>User Feed</h2>-->
            
            <div id='photosContainer'>
                <p class='imageTitle'>{{user.name}} </p>
                <!--<img class='mainPhoto' ng-src='../static/images/{{photos.filename}}'/>-->

                <img class='mainPhoto' src='../static/images/profile-img.jpg' />
            
            <div id ='photoComments' ng-init="addComments=false; replySubject=''; replyBody=''">
                <div class='comment' ng-include="'comment_thread.html'"></div> 
            </div>
            
            </div>
                <div id="profile" >
                    <div id="list">
                        <ul>
                            <li> {{user.username}}</li>
                            <li> {{user.color}} </li>
                            <li> {{user.email}}</li>
                        </ul>
                    </div>
                </div>
            
        
        <div ng-controller="pageController">
            <div id="pageComments" ng-init="addComment=false; replySubject='';replyBody=''" >
                <div class='comment' ng-include="comment_thread.html"></div>
            </div>
        </div>


            <h4>You are logged in as <%= username %></h4>
            <a href='/logout'>Logout</a>
            <a href='/user'>Edit User</a>

        </div>
            
            
            
            
        </div>
        <hr><%= msg %>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
        <script src="../static/js/my_app.js"></script>
    </body>
    </html>