<!doctype html>
<html>
    <head>
        <title>MyClassRoom</title>
        <link rel="stylesheet" href="../static/css/style.css" type="text/css" />
    </head>
    <body>
        <h1>Sign up for MyClassroom</h1>
        <div class="form-container">
            <p class='form-header'>Sign up</p>
            <form method='POST'>
                <label>Full Name:</label>
                    <input type="text" name="name"/><br>
                <label>Username:</label>
                    <input type="text" name="username"/><br>
                <label>Password:</label>
                    <input type="text" name="password"/><br>
                <label>Email:</label>
                    <input type="text" name="email"/><br>
                <label>Favorite Color:</label>
                    <input type="text" name="color"/><br>
                <input type="submit" name="Register"/>
            </form>
        </div>
      
    </body>
</html>