<!doctype html>
<html ng-app="myApp">
    <head>
        <title>MyClassRoom</title>
        <link rel="stylesheet" href="../static/css/style.css" type="text/css" />
    </head>
    <body>
        <div class="form-container" ng-controller="myController">
            <p class='form-header'>Update User Profile</p>
            <form method='POST' action='/user/update'>
                <label>Username:</label> 
                    <input type='text' name='username' ng-model='user.username' > <br>
                <label>Email:</label> 
                    <input type='email' name='email' ng-model='user.email'> <br>
                <label>Favorite Color:</label> 
                    <input type='text' name='color' ng-model='user.color'> <br>
                <input type="submit" value="Save" >
            </form>
           
            <form method='POST' action='/user/delete'>
                <input type="submit" value="Delete User"/>
            </form>
            <a href="/">Back to Profile</a>
            <hr><%= msg %>
            <hr>{{error}}
        </div>
         <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
        <script type="text/javascript" src="./static/js/my_app.js"></script>
    </body>
</html>
